@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --heading: "Montserrat", sans-serif;
  --label: "Ubuntu", sans-serif;
  --button: "Ubuntu", sans-serif;
  --message: "Ubuntu", sans-serif;
}
body {
  background: #6B7280;
}
#heading{
    margin: 1rem;
    text-align: center;
    font-family: var(--heading);
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
}
.label-item{
    font-size: 1.2rem;
    font-family: var(--label);
    margin: 1rem;
}
.input-item{
    padding: 0.5rem 1rem;
    width: 50%;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 1.2rem;
}
#button{
    margin-top: 2rem;
    padding: 0.4rem 2rem;
    font-size: 1.2rem;
    border-radius: 5px;
    border: none;
    background: #818CF8;
    color: white;
}
#message{
    font-size: 1.5rem;
    margin-top: 1rem;
}
footer {
    position: fixed;
    width: 100%;
    bottom: 0px;
    height: 20vh;
    text-align: center;
}
footer p{
    font-weight: 500;
}
.foot{
    margin: 1rem;
}
.image {
    height: 35px;
    width: 35px;
}


